//=============================================
//
//  partials/ui/_burger.scss
//  Module graphique en charge de l'aspect
//  du burger
//
//  @auteur: Emmanuel KWENE
//  @email: kwene.emmanuel@gmail.com
//  @siteweb: http://www.mystro-ken.cm/
//
//=============================================

$burger--transition-duration: 221ms;
$burger--transition-timing-function: ease-out;
$burger__line--color: rgba(#FFF, 1) !default;
$burger--opened__line--color: rgba(#FFF, 1) !default;
$burger__line--height: 1px !default;
$burger__line--width: 22px !default;
$burger__line--spacing: 5px !default;
$burger__line--border-radius: 0 !default;

//  Module burger
//===============

.burger {
  cursor: pointer;
  display: inline-block;
  position: relative;
  //vertical-align: middle;
  height: (3 * $burger__line--height) + (2 * $burger__line--spacing);
  line-height: (3 * $burger__line--height) + (2 * $burger__line--spacing);
  width: $burger__line--width;
  z-index: 9999;
}


.burger__line {
  display: inline-block;
  background: $burger__line--color;
  height: $burger__line--height;
  width: $burger__line--width;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  transition: all $burger--transition-timing-function $burger--transition-duration;

  &:before,
  &:after {
    content: '';
    position: absolute;
    background: $burger__line--color;
    height: $burger__line--height;
    width: $burger__line--width;
    left: 0;
    transition: all $burger--transition-timing-function $burger--transition-duration;
  }

  &:before {
    top: -$burger__line--spacing;
  }

  &:after {
    bottom: -$burger__line--spacing;
  }


  .burger--opened & {
    background: rgba($burger--opened__line--color, 0);
    left: -$burger__line--width;
    transform: translateZ(0);

    &:before,
    &:after {
      background: $burger--opened__line--color;
      left: $burger__line--width;
    }

    &:before {
      top: 0;
      transform: rotate(45deg) translateZ(0);
    }

    &:after {
      bottom: 0;
      transform: rotate(-45deg) translateZ(0);
    }

  }

}