//=============================================
//
//  partials/ui/_DIALOG.scss
//  Module graphique en charge de l'aspect
//  de toutes les fenetres modales
//
//  @auteur: Emmanuel KWENE
//  @email: kwene.emmanuel@gmail.com
//  @siteweb: http://emmanuelkwene.com/
//
//=============================================

//  Module dialog
//===============
$screen-medium:   768px !default;
$dialog-padding:  20px !default;
$color-base:      #069 !default;
$color-base_dark: #222 !default;

$dialog-border_radius: 3px !default;
$dialog-height:        450px !default;
$dialog-width:         450px !default;

$dialog-closer-background: #000 !default;
$dialog-closer-color: #fff !default;
$dialog-closer-height: 30px !default;
$dialog-closer-width: 30px !default;

$dialog-title-height: 50px !default;

$dialog-mask-backgroung: rgba(black, .8) !default;

#dialog-wrapper {
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  background: $dialog-mask-backgroung;
}

#dialog-container {
  display: none;
  height: 90%;
  position: absolute;
  width: 90%;
  top: auto;
  left: auto;
  margin: auto;
  padding: 0;

  background: white;
  border-radius: $dialog-border_radius;
}

#dialog-closer {
  height: $dialog-closer-height;
  line-height: $dialog-closer-height * 0.82;
  position: absolute;
  right: -($dialog-closer-width/3);
  top: -($dialog-closer-height/3);
  width: $dialog-closer-width;
  z-index: 2;

  cursor: pointer;
  font-size: ($dialog-closer-height/1px) * 0.1em;
  font-weight: bold;
  text-align: center;

  background: $dialog-closer-background;
  border-radius: 50%;
  color: $dialog-closer-color;

  &:hover {
    transform: scale(1.1);
  }
}

[data-dialog] {
  display: none;
}

.dialog-title {
  height: $dialog-title-height;
  left: 0;
  line-height: $dialog-title-height;
  margin: 0 auto;
  padding: 0 ($dialog-padding);
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;

  font-size: 1.4em;

  background: $color-base;
  border-radius: $dialog-border_radius $dialog-border_radius 0 0;
  color: #fff;
}

.dialog-content {
  max-height: 80%;
  margin-bottom: $dialog-title-height + $dialog-padding;
  padding: 0 ($dialog-padding);
  position: absolute;
  top: $dialog-title-height + $dialog-padding;
  width: 100%;

  overflow-x: hidden;
  overflow-y: auto;
}

.dialog-footer {
  bottom: 0;
  height: $dialog-title-height;
  left: 0;
  line-height: $dialog-title-height;
  padding: 0 ($dialog-padding);
  position: absolute;
  width: 100%;
  z-index: 1;

  text-align: center;

  background: lighten($color-base_dark, 82%);
  border-radius: 0 0 $dialog-border_radius $dialog-border_radius;
}

@media screen and (min-width:$screen-medium) {
  #dialog-container {
    height: $dialog-height;
    width: $dialog-width;
  }
}