//=============================================
//
//  partials/ui/_grid.scss
//  Module graphique en charge des
//  grilles responsives
//
//  @auteur: Emmanuel KWENE
//  @email: kwene.emmanuel@gmail.com
//  @siteweb: http://emmanuelkwene.com/
//
//=============================================

// Module Grille
//==============

// ## Variables

$columns: 12!default;
$gutter: 20px!default;
$screen-medium: 768px!default;
$screen-large: 1024px!default;


@mixin colums_template($suffix: '-s') {
  .col#{$suffix}-center { margin: 0 auto; float: none; }
  @for $i from 0 through $columns {
    @if $i != 0 {
      .col#{$suffix}-#{$i} { width: $i / $columns * 100%; }
    }
    .col#{$suffix}-offset-#{$i} { margin-left: $i / $columns * 100%; }
  }
}

.row {
  margin: 0 $gutter * -0.5;
  @extend %clearfix;
}

[class*="col-"] {
  float: left;
  padding: 0 $gutter * 0.5;
  min-height: 1px;
}

// ## Small Screen
@include colums_template();
.s-hide { display: none!important; }
.m-show { display: none!important; }
.l-show { display: none!important; }


// ## Medium Screen
@media only screen and (min-width: $screen-medium) {
  @include colums_template('-m');
  .m-show { display: block!important; }
  .m-hide { display: none!important; }
  .s-hide { display: block!important; }
  .s-show { display: none!important; }
  .l-show { display: none!important; }
}


// ## Large Screen
@media only screen and (min-width: $screen-large) {
  @include colums_template('-l');
  .l-show { display: block!important; }
  .l-hide { display: none!important; }
  .s-show { display: none!important; }
  .s-hide { display: block!important; }
}


.grid4 .col:nth-of-type(4n+1),
.grid3 .col:nth-of-type(3n+1),
.grid2 .col:nth-of-type(2n+1) {
  margin-left: 0;
  clear: left;
}


.col {
  float: left;
  margin-left: 3.2%;
  margin-bottom: 20px;

  @media screen and (max-width: 740px) {
    .grid4 & {
      width: 31.2%;
    }

    .grid4 &:nth-of-type(4n+1) {
      margin-left: 3.2%;
      clear: none;
    }

    .grid4 &:nth-of-type(3n+1) {
      margin-left: 0;
      clear: left;
    }
  }

  @media screen and (max-width: 600px) {
    .grid4 & {
      width: 48.4%;
    }

    .grid4 &:nth-of-type(3n+1) {
      margin-left: 3.2%;
      clear: none;
    }

    .grid4 &:nth-of-type(2n+1) {
      margin-left: 0;
      clear: left;
    }


    .grid3 & {
      width: 48.4%;
    }

    .grid3 &:nth-of-type(3n+1) {
      margin-left: 3.2%;
      clear: none;
    }

    .grid3 &:nth-of-type(2n+1) {
      margin-left: 0;
      clear: left;
    }
  }

  @media screen and (max-width: 400px) {
    width: 100% !important;
    margin-left: 0 !important;
    clear: none !important;
  }
}

/* grid4 col */
.grid4 .col {
  width: 22.6%;
}

/* grid3 col */
.grid3 .col {
  width: 31.2%;
}

/* grid2 col */
.grid2 .col {
  width: 48.4%;
}
