.sass-cache
sass/style.scss
sass/partials/layout
sass/partials/_variables.scss
sass/partials/_initialize.scss

# IDE Files
#-------------------------
.DS_Store

/nbproject/

.idea/*

*.xcodeproj

*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project