.sass-cache
style.scss
partials/layout
partials/_variables.scss

# IDE Files
#-------------------------
.DS_Store
/nbproject/
.idea/*
*.xcodeproj
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project