//=============================================
//
//  partials/ui/_burger.scss
//  Module graphique en charge de l'aspect
//  du burger
//
//  @auteur: Emmanuel KWENE
//  @email: kwene.emmanuel@gmail.com
//  @siteweb: http://www.mystro-ken.cm/
//
//=============================================

$burger--transition-duration: 0.4s;
$burger--transition-timing-function: ease-out;
$burger__line--color: rgba(#FFF, 1) !default;
$burger--opened__line--color: rgba(#FFF, 1) !default;
$burger__line--height: 1px !default;
$burger__line--width: 22px !default;
$burger__line--spacing: 5px !default;
$burger__line--border-radius: 0 !default;

//  Module burger
//===============

.burger {
  background: $burger__line--color;
  cursor: pointer;
  display: inline-block;
  height: $burger__line--height;
  position: relative;
  vertical-align: middle;
  width: $burger__line--width;
  z-index: 9999;
  transition: all $burger--transition-timing-function $burger--transition-duration;

  &::before,
  &::after {
    content: '';
    z-index: 9999;
    position: absolute;
    background: $burger__line--color;
    height: $burger__line--height;
    width: $burger__line--width;
    left: 0;
    transition: transform $burger--transition-timing-function $burger--transition-duration;
  }

  &::before {
    top: -$burger__line--spacing;
  }

  &::after {
    bottom: -$burger__line--spacing;
  }

  &.burger--opened {
    background: $burger--opened__line--color;
    left: -$burger__line--width;

    &::before,
    &::after {
      background: $burger--opened__line--color;
      left: $burger__line--width;
      transform-origin: ($burger__line--width/2) ($burger__line--height/2);
    }

    &::before {
      top: 0;
      transform: rotate(45deg) translateZ(0);
    }

    &::after {
      bottom: 0;
      transform: rotate(-45deg) translateZ(0);
    }

  }

}