/**
*  
* 	Partials/variables
*
* 	File containing variables that help 
* 	the stylesheet project personalization.
* 	MUST NEVER GENERATE ANY CODE!
*
*   @author: Emmanuel KWENE
*   @email: kwene.emmanuel@gmail.com
*   @website: http://www.mystro-ken.cm/
*
*	August 19, 2016!
*
*/



// 1 - ## Colors
$color-primary:         blue !default;
$color-primary-dark:    blue !default;
$color-primary-light:   blue !default;
$color-secondary:       red !default;
$color-text-primary:    black !default;
$color-text-secondary:  black !default;
$color-link:            red !default;
$color-body:            white !default;


// 2 - ## Typography
$typography-fontsize-h1:        25px !default;
$typography-fontsize-h2:        25px !default;
$typography-fontsize-h3:        25px !default;
$typography-fontsize-h4:        25px !default;
$typography-fontsize-h5:        25px !default;
$typography-fontsize-h6:        25px !default;
$typography-fontsize-body:      12px !default;
$typography-fontsize-button:    14px !default;
$typography-fontface-primary:   "Open Sans", Arial, sans-serif !default;
$typography-fontface-secondary: "Roboto Slab", serif;


// 3 - ## Fonts
$fonts-directory: "../fonts" !default;


// ##  Grids and Media Query
// In this part we'll use essentially Susy and Breakpoint (third-party project)
$susy: (
  math: fluid,
  gutter-position: after,
  container: auto,
  container-position: center,
  columns: 4,
  gutters: 3rem/6rem,
  column-width: 6rem,
  global-box-sizing: border-box,
  debug: (
    image: hide,
    color: rgba(#66f, .25),
    output: background,
    toggle: top right,
  ),
  use-custom: (
    background-image: true,
    background-options: false,
    box-sizing: true,
    clearfix: false,
    rem: true,
  )
);

// Default screens for media queries
$screen-small:      600px !default;
$screen-medium:     992px !default;
$screen-large:      1200px !default;
$screen-small-up:   601px !default;
$screen-medium-up:  993px !default;
$screen-large-up:   1201px !default;


// 4 - ## User Interface

// Animations
$animation-duration: 600ms !default;

// Form elements
$input-padding: 5px 10px !default;

//  button
$btn-default-bg_color:      $color-primary !default;
$btn-medium-padding:        10px !default;
$btn-insetBoxShadow_exists: false !default;
$btn-border_width:          0 !default;
$btn-font_weight:           normal !default;

//  burger
$burger-color:  #FFF !default;
$burger-height: 24px !default;
$burger-radius: 1px !default;
$burger-width:  32px !default;


// 5 - ## Layout